:root {
  /* "card" effect colors. */
  --card-background: #fff;
  --card-foreground: #000;
  --card-border-width: 2px;
  --card-border-color: #000;
  --card-border-radius: 10px;

  /* outline variables. mostly for accessibility when focusing elements with tab. */
  --outline-color: rgb(0, 0, 0);
  --outline-width: 2px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
}

input:focus,
button:focus {
  outline: var(--outline-width) solid var(--outline-color);
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  display: flex;
  width: 100%;
}
