@import './base.css';

.card {
  background-color: var(--card-background);
  color: var(--card-foreground);
  border: solid var(--card-border-width) var(--card-border-color);
  border-radius: var(--card-border-radius);
  filter: drop-shadow(2px 2px 0 var(--card-border-color));
}
